<h3>mini_talk_app</h3>
<%= form_with model: @ do |f| %>
  <%= f.text_field :text %>
  <%= f.submit '送信' %>
<% end %>
<div id='comments'>
  <% @comments.reverse_each do |comment| %>
    <p><%= comment.text %></p>
  <% end %>
</div>